@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 255, 255, 255;
    --muted: 255, 255, 255;
    --accent: 255, 255, 255;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
